@font-face {
  font-family: "ROEHOE-CHAN";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/ROEHOE-CHAN.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

/* Loading Screen */
.loading-screen {
  display: flex;
  justify-content: center;
  font-family: "ROEHOE-CHAN";
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #000; /* Black background */
  color: #fff; /* White text */
  animation: fadeInOut 2s ease-in-out; /* Fade in and out effect */
}

/* Fade-In and Fade-Out Animation for Loading Screen */
@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
