/* Dynamic Right Panel */
.right {
  height: 100%;
  width: 100%; /* Full width */
  flex: 1; /* 50% width */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
  overflow: hidden;
}
