body {
  overflow: hidden;
  margin: 0; /* Ensure no margin is applied */
  padding: 10px !important;
  box-sizing: border-box; /* Ensure consistent sizing */ /* Prevents scrolling */
}
canvas {
  margin: 10;
}

#modeButton {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 40px;
  height: 40px;
  background-color: #444;
  border: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 20px;
  color: white;
  transition: background-color 0.3s, color 0.3s;
  z-index: 1;
}
#modeButton.light-mode {
  background-color: #fff;
  color: #444;
}
